---
---

@import "{{ site.theme }}";

$border_color: #bbc2c6;
$table_bg_color: #f8f9fa;
$table_head_bg_color: #eaecf0;

.page-header {
    background-position: center;
    background-image: url("/assets/images/header-background.png");
    background-color: rgba($color: #181818, $alpha: .4);
    background-size: auto 220%;
    background-blend-mode: darken;

    a {
        color: #fff;
    }
}

.main-content {
    h2 {
        border-bottom: 1px solid #c0c0c0;
        overflow: hidden;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1em 0 .5em;
        color: midnightblue;
        font-weight: bold;
    }

    p {
        margin: .75em 0;
    }

    table {
        border-collapse: collapse;
        border-color: $border_color;
        border-radius: 2px;

        tbody {
            background-color: $table_bg_color;
        }

        tr {
            th {
                background-color: $table_head_bg_color;
                border-color: $border_color;
            }

            td {
                border-color: $border_color;
                word-break: normal;
            }
        }
    }

    .supper {
        font-size: 80%;
        vertical-align: super;
    }

    .right {
        float: right;
    }

    .profile {
        display: grid;
        justify-content: start;
        column-gap: 1em;

        img {
            border-radius: 7px;
            grid-row: 1 / 3;
        }

        .profile-name {
            font-size: 1.5em;
            grid-column: 2;
        }

        dl {
            grid-column: 2;
        }

        dd {
            margin-left: 1.5em;
        }
    }

    .works {
        display: grid;
        justify-content: start;
        align-items: baseline;
        column-gap: 2em;

        dt {
            grid-column: 1;
        }

        dd {
            grid-column: 2;
            margin: 0;

            ul {
                margin: 0;
                padding-left: 1.2em;
            }
        }
    }

    .infobox {
        box-sizing: content-box;
        border: solid 1px $border_color;
        background-color: $table_bg_color;
        padding: 2px;
        font-size: 90%;

        .infobox-header {
            background-color: $table_head_bg_color;
            padding: 5px;
            font-weight: bold;
            text-align: center;
            font-size: 110%;
        }

        .infobox-image-area {
            padding: 4px;
            text-align: center;
        }

        .infobox-table {
            display: table;
            border-collapse: separate;
            border-spacing: 1px;
            word-break: break-word;

            tbody {
                tr {
                    &:nth-child(2n) {
                        background-color: #f0f1f2;
                    }

                    th {
                        border: none;
                        background-color: inherit;
                        padding: 4px;
                        text-align: left;
                        white-space: nowrap;
                    }

                    td {
                        border: none;
                        padding: 4px;

                        ul {
                            margin: 6px 0;
                            padding-left: 1.45em;
                        }
                    }
                }
            }
        }

        @include large {
            float: right;
            clear: right;
            width: 310px;
            margin: 0 0 .5em 1em;
            overflow: auto;
        }
    }

    .embed-container {
        @include small {
            position: relative;
            padding-bottom: 56.25%;
            overflow: hidden;
            max-width: 100%;
            height: auto;

            iframe,
            object,
            embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    .toc-title {
        font-weight: bold;
    }

    .source-code-links {
        // ソースコードリンクの絵文字にはボタンっぽく背景をつける
        .emoji-wrapper {
            border-radius: 5px;
            padding: 6px;
            background-color: #e6e6e6;
        }
    }
}

.nowrap {
    display: inline-block;
    width: max-content;
    white-space: nowrap;
}

.tleft {
    @include large {
        float: left;
        clear: left;
        margin: 0 1em 1em 0;
    }
}

.tright {
    @include large {
        float: right;
        clear: right;
        margin: 0 0 1em 1em;
    }
}

// 画像表示
.thumb {
    display: block;

    img {
        @include large {
            width: var(--width);
        }

        @include small {
            width: 100%;
        }

        @include small {
            width: 100%;
        }
    }

    figcaption {
        padding: 0 3px 3px;
        font-size: 12px;
    }

    // 連続する場合、最後以外は下余白を狭める
    &:not(:last-child) {
        margin-bottom: .5em;
    }

    @include large {
        width: var(--width);
    }

    @include medium {
        margin: 0 0 1em 0;
        width: 100%;
    }

    @include small {
        margin: 0 0 1em 0;
        width: 100%;
    }
}

$gallary_gap: .5em;

// 画像のギャラリー表示
.gallary {
    display: flex;
    flex-wrap: wrap;
    gap: $gallary_gap;
    margin: .5em 0 1em 0;
    padding: 3px;

    figure.thumb {
        display: inline-block;
        float: none;
        clear: none;
        margin: 0;

        @include large {
            width: calc(25% - #{$gallary_gap});
        }

        @include medium {
            width: calc((100% / 3) - #{$gallary_gap});
        }

        @include small {
            width: calc(50% - #{$gallary_gap});
        }
    }
}

.emoji-wrapper {
    .emoji {
        display: inline-block;
        height: auto;
        vertical-align: text-bottom;
        background-size: cover;
    }

    .emoji-text {
        padding-left: .3em;
    }
}
