---
---

@import "{{ site.theme }}";

.page-header {
    background-position: center;
    background-image: url("/images/header-background.png");
    background-color: rgba($color: #181818, $alpha: .4);
    background-size: auto 220%;
    background-blend-mode: darken;

    a {
        color: #fff;
    }
}

.main-content {
    h2 {
        border-bottom: 1px solid #c0c0c0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: midnightblue;
        font-weight: bold;
    }
}
